# Ignore local tryout scripts
tryout_scripts

# Ignore all the mac-related ds store files
.DS_Store
/data/.DS_Store
/data/*/.DS_Store
/src/.DS_Store
/src/*/.DS_Store
utils/.DS_Store

# Ignore any auto-save file
./utils/*.asv